VITE_COGNITO_DOMAIN=https://smartretailx-dev-362209064033.auth.ap-south-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=7eq4tpged5bva9valvjl2nbsqk
VITE_COGNITO_ISSUER=https://cognito-idp.ap-south-1.amazonaws.com/ap-south-1_xL67dtd6I
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_COGNITO_LOGOUT_URI=http://localhost:5173/
VITE_CATALOGUE_API_URL=https://614kzoojzg.execute-api.ap-south-1.amazonaws.com
VITE_ORDER_API_URL=https://atx0601uv0.execute-api.ap-south-1.amazonaws.com
